body .container {
    width: 100%;
    max-width: 100%;
}

.sensors-edit {
    &__links {
        padding: 4px 0 16px;
        font-size: 13px;
        font-weight: bold;
        text-align: center;

        a {
            margin: 0 4px;
        }
    }

}