/chart.longbyte.ru/public_html/bitrix
/chart.longbyte.ru/public_html/local
/chart.longbyte.ru/public_html/upload
/files.longbyte.ru/public_html/bitrix
/files.longbyte.ru/public_html/local
/files.longbyte.ru/public_html/upload
/longbyte.ru/public_html/bitrix
/longbyte.ru/public_html/local
/longbyte.ru/public_html/upload
/vdstech.ru/public_html/bitrix
/vdstech.ru/public_html/local
/vdstech.ru/public_html/upload
/luminad-dev.longbyte.ru/
/shared/*
!/shared/local/
/disallow
cgi-bin/
document_errors/
logs/
private/
public_shtml/
stats/
.access.php
web.config
sitemap*.xml
.htaccess
robots.txt
yandex*.html
test.php
dat.html
1.php
2.php
*.less.css
*.compiled.svg
/node_modules
/package-lock.json
*.log
*.pid
/shared/**/.git
/shared/local/php_interface/lib/Api/Core
/shared/local/php_interface/lib/Api/Core/
/shared/local/php_interface/lib/Api/Core/*