/upload
/bitrix
/disallow
web.config
sitemap*.xml
.htaccess
robots.txt
yandex*.html
*.less.css
tmp.less
*.compiled.svg
/node_modules
/package-lock.json
*.log
*.pid
.git
/local/php_interface/lib/Api/Core
/local/php_interface/lib/Api/Core/
/local/php_interface/lib/Api/Core/*
/local/vendor
/composer.lock
/.idea