body .container {
    width: 100%;
}

.sensors {
    
    &__date {
        input {
         
        }
    }
    
    &__list {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }
    
    &__item > div {
        position: relative;
        width: 470px;
        height: 200px;
    }
}