.lb-spoiler
{
    margin: 0 auto;
    margin-bottom: 20px;
    text-align: center;
}

.lb-spoiler > .spoiler-title
{
    display: inline-block;
    cursor: pointer;
}

.lb-spoiler > .spoiler-text
{
    display: none;
    
    text-align: left;
}

.lb-spoiler.open > .spoiler-text
{
    display: block;
}