@import "global.less";

html,
body {
    width: 100%;
    height: 100%;
}

body {
    background: url(../images/server.jpg) no-repeat center center;
    .bg-cover;
    color: white;
    font-family: 'PT Sans', Arial, sans-serif;
    font-size: 16px;
}

.h100 {
    height: 100%;
}

.clearfix:after {
    .clear;
}

.sprite,
.sprite-before:before,
.sprite-after:after {
    content: '';
    display: inline-block;
    .size(60px, 60px);
    background: url(../images/sprite.svg) no-repeat;
    vertical-align: middle;
}

.sprite {
    &.back {
        .bg-pos(0, 0);
    }

    &.backup {
        .bg-pos(300px, 0);
    }
    &.restore {
        .bg-pos(420px, 0);
    }
    &.update {
        .bg-pos(360px, 0);
    }
    &.fulltime {
        .bg-pos(240px, 60px);
    }
    &.secure {
        .bg-pos(60px, 0px);
    }
    &.mobile {
        .bg-pos(0px, 60px);
    }

    &.request {
        .bg-pos(60px, 60px);
    }
    &.document {
        .bg-pos(180px, 0);
    }
    &.day3 {
        .bg-pos(120px, 0);
    }
    &.server {
        .bg-pos(180px, 60px);
    }
    &.settings {
        .bg-pos(120px, 60px);
    }
    &.done {
        .bg-pos(240px, 0px);
    }

    &.arrow {
        .bg-pos(300px, 60px);
    }
}

.item {
    background: fade(black, 60);
    height: 50%;
    cursor: pointer;
    .transition(all 0.2s linear 0s);

    &:hover {
        background: fade(black, 80);
    }

    .cell-middle {
        font-size: 32px;
        .bold;
        .tcenter;

        span {
            font-size: 18px;
        } 

    } 
}

@media (max-width: 768px) {
    .item {
        height: 100%;
    }
}

.as-table {
    display: table;
    .size(100%, 100%);
}

.cell-middle {
    display: table-cell;
    .size(100%, 100%);
    vertical-align: middle;
}

.flex {
    float: none;
    display: flex;
    justify-content: space-between;
}

h2 {
    font-size: 24px;
    .tcenter;
}

.back {
    position: absolute !important;
    .pos(15px, 15px);
    min-height: 0 !important;
}

.service {
    position: relative;
    padding-top: 20px;
    padding-bottom: 20px;
    background: no-repeat center center scroll;
    .bg-cover;

    &:before {
        content: '';
        .pos(0,0);
        z-index: 1;
        .size(100%, 100%);
        background: fade(black, 60);
    }

    > * {
        display: flex;
        position: relative;
        z-index: 2;
        min-height: 100%;

        > .row {
            margin-top: auto;
            margin-bottom: auto;
        }
    }


    table {
        td {
            padding: 4px;

            &:first-child {
                width: 90px;
            }
        }
    }

    .agvantages {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        clear: both;

        > div {
            float: none !important;
        }

        table {
            .h100;
        }
    }
}

.row:after {
    .clear;
}

.form {
    display: none;
    position: relative;

    &:before {
        content: '';
        .pos(0,0);
        z-index: 1;
        .size(100%, 100%);
        background: fade(black, 60);
    }

    > * {
        position: relative;
        z-index: 2;
    }
}

body.service-1 {
    height: auto;
    background: url(../images/1c-cloud.jpg) no-repeat center center fixed;
    .bg-cover;
}

body.service-2 {
    height: auto;
    background: url(../images/remote.jpg) no-repeat right bottom fixed;
    .bg-cover;
}

body.service-3 {
    height: auto;
    background: url(../images/cloud.jpg) no-repeat center bottom fixed;
    .bg-cover;
}

body.service-4 {
    height: auto;
    background: url(../images/webserver.jpg) no-repeat left center fixed;
    .bg-cover;
}