div.portfolio {
  display: flex;
  padding-top: 16px;
  padding-bottom: 16px;
  flex-wrap: wrap;
}
div.portfolio > div {
  padding-bottom: 16px;
}
div.portfolio .item {
  display: flex;
  height: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
div.portfolio .item .img {
  width: 100px;
}
div.portfolio .item .desc {
  padding-left: 8px;
}
div.portfolio .item .name {
  margin-bottom: 4px;
  font-size: 16px;
  line-height: 16px;
  font-weight: bold;
}
div.portfolio .item .detail-text {
  margin-bottom: 8px;
  color: #999;
  font-size: 10px;
  line-height: 0px;
}
div.portfolio .item .preview-text {
  line-height: 1.2em;
}
div.portfolio .item .links {
  padding-top: 8px;
}
div.portfolio .item a {
  display: inline-block;
  padding: 2px 4px;
  border-radius: 5px;
  background: #00a2df;
  color: white;
  line-height: normal;
}
div.portfolio .item .tags {
  font-size: 12px;
  padding-top: 4px;
}
div.portfolio .item .tags span {
  display: inline-block;
  padding: 4px;
  margin-top: 4px;
  background: #eee;
  border-radius: 5px;
}
