/*functions*/
/*mixins*/
/*colors*/
/*endglobals*/
div.catalog-section-cookie.order {
  width: 860px;
  margin-left: auto;
  margin-right: auto;
  color: #3f1d07;
  font-size: 24px;
}
div.catalog-section-cookie.order .top-wrapper {
  display: table;
  width: 100%;
  padding: 10px 0;
  border-top: 3px dotted #3f1d07;
  border-bottom: 3px dotted #3f1d07;
}
div.catalog-section-cookie.order .top-wrapper .fleft {
  display: table-cell;
  width: 565px;
  padding-right: 10px;
  border-right: 3px dotted #3f1d07;
  text-align: left;
  vertical-align: top;
}
div.catalog-section-cookie.order .top-wrapper .fleft .title {
  padding: 0;
  margin: 0;
  text-align: left;
  border-bottom: 3px dotted #3f1d07;
}
div.catalog-section-cookie.order .top-wrapper .fleft .item {
  display: table;
  padding: 10px 0;
  border-bottom: 3px dotted #3f1d07;
}
div.catalog-section-cookie.order .top-wrapper .fleft .item .name {
  display: table-cell;
  width: 420px;
  padding: 10px 10px 10px 0;
  border-right: 3px dotted #3f1d07;
}
div.catalog-section-cookie.order .top-wrapper .fleft .item .price {
  display: table-cell;
  width: 130px;
  padding: 10px 20px;
}
div.catalog-section-cookie.order .top-wrapper .fleft .item:last-child {
  border-bottom: 0;
}
div.catalog-section-cookie.order .top-wrapper .fright {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  font-size: 42px;
  line-height: 1.2;
  letter-spacing: 3px;
}
div.catalog-section-cookie.order .top-wrapper .fright span {
  font-size: 83px;
}
div.catalog-section-cookie.order .edit {
  text-align: right;
}
div.catalog-section-cookie.order .edit a {
  display: inline-block;
  position: relative;
  margin: 20px 40px;
  font-size: 21px;
  color: inherit;
  border-color: #3f1d07;
}
div.catalog-section-cookie.order .edit a:after {
  content: "";
  display: block;
  position: absolute;
  right: -34px;
  top: -4px;
  width: 26px;
  height: 33px;
  background-position: -161px -99px;
}
div.catalog-section-cookie.order .description {
  text-align: left;
}
div.catalog-section-cookie.order .order-form .form-order-form {
  padding: 45px 0;
  margin-bottom: 50px;
  background: #f4e9d9;
  text-align: left;
}
div.catalog-section-cookie.order .order-form .form-order-form .inner {
  width: 625px;
  margin-left: auto;
  margin-right: auto;
}
div.catalog-section-cookie.order .order-form .form-order-form .fleft {
  float: left;
  width: 265px;
}
div.catalog-section-cookie.order .order-form .form-order-form .fright {
  float: right;
  width: 325px;
}
div.catalog-section-cookie.order .order-form .form-order-form .input-outer {
  position: relative;
  margin-bottom: 20px;
}
div.catalog-section-cookie.order .order-form .form-order-form .input-outer:last-child {
  margin-bottom: 0;
  line-height: 1.6em;
}
div.catalog-section-cookie.order .order-form .form-order-form .input-outer:before {
  position: absolute;
  left: -15px;
}
div.catalog-section-cookie.order .order-form .form-order-form .input-outer.num1:before {
  content: "1";
}
div.catalog-section-cookie.order .order-form .form-order-form .input-outer.num2:before {
  content: "2";
}
div.catalog-section-cookie.order .order-form .form-order-form .input-outer.num3:before {
  content: "3";
}
div.catalog-section-cookie.order .order-form .form-order-form .input-outer.num4:before {
  content: "4";
}
div.catalog-section-cookie.order .order-form .form-order-form .input-outer.num5:before {
  content: "5";
}
div.catalog-section-cookie.order .order-form .form-order-form .captcha-word {
  display: inline-block;
  width: 200px;
  height: 55px;
  background: #3f1d07;
  color: #f4e9d9;
}
div.catalog-section-cookie.order .order-form .form-order-form .captcha-input {
  display: inline-block;
  width: 110px;
  height: 55px;
  margin-left: 10px;
  font-size: 12px;
  vertical-align: top;
}
div.catalog-section-cookie.order .order-form .form-order-form .do-order {
  margin-top: 30px;
  text-align: right;
}
div.catalog-section-cookie.order .order-form .form-order-form .do-order button {
  height: 66px;
  padding: 0 40px;
  border: 8px solid #3f1d07;
  background: transparent;
  font-family: inherit;
  font-size: 42px;
  line-height: 1.2;
  letter-spacing: 3px;
  text-transform: uppercase;
  opacity: 1;
  cursor: pointer;
}
div.catalog-section-cookie.order .order-form .form-order-form .do-order button:hover {
  opacity: 0.6;
  -webkit-transition: opacity 0.5s;
  -moz-transition: opacity 0.5s;
  -o-transition: opacity 0.5s;
  transition: opacity 0.5s;
}
div.catalog-section-cookie.order .order-form .form-order-form .select2-container--default .select2-selection--single {
  height: 37px;
  border-width: 4px;
}
div.catalog-section-cookie.order .order-form .form-order-form .select2-container--default .select2-selection--single .select2-selection__arrow {
  top: 6px;
  right: 6px;
}
#complite-order {
  width: 940px;
  padding: 50px;
}
#complite-order .fleft {
  float: left;
  width: 230px;
  font-size: 42px;
  line-height: 1.2;
  letter-spacing: 3px;
  color: #c7b299;
}
#complite-order .fright {
  float: right;
  width: 590px;
}
#complite-order .fright .text1 {
  font-size: 42px;
  line-height: 1.2;
  letter-spacing: 3px;
  border-bottom: 2px dotted #3f1d07;
}
#complite-order .fright .text1 .order-num {
  padding: 0 7px;
  background: #c7b299;
}
#complite-order .fright .text2 {
  padding: 30px 0;
  font-size: 21px;
}
#complite-order .fright .text3 {
  font-size: 42px;
  line-height: 1.2;
  letter-spacing: 3px;
}
/*# sourceMappingURL=style.css.map */